:root {
  --primary-color: #6c63ff;
  --secondary-color: none;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --b-color: -o-linear-gradient(rgb(224, 224, 170), rgb(250, 243, 243));
}
.navbar {
  padding-left: 80px;
  font-weight: bold;
}
body {
  background: var(--b-color);
}
.container {
  margin-top: 60px;
}
.col-6 {
  padding-top: 20px;
  padding-left: 120px;
}
.celebrate {
  background-image: url("celebrations/fischerSrChristmas.jpg");
  opacity: 0.5;
}
img {
  border: none;
  border-radius: 5px;
}
h1 {
  font-size: 30px;
}
p {
  font-size: 14px;
}

@media (max-width: 576px) {
  p {
    font-size: 10px;
  }
}
