/* {
  margin: 0;
  padding: 0;
}*/

body {font-size:10px;}
.name,
.namespouse {
  border: 1px solid blue;
  padding: 10px;
  margin: 0px;
}

.spouseconnector{
  display: inline-block;
  width: 30px;
  height: 10px;
  margin: 0px;
  padding-top: 0px;
  margin-bottom:5px;
}
.parents {
    margin-top:30px;
margin-left:0px;
padding-left:0px;
margin-bottom:0px;
}

.childconnector1 {
  display: inline-block;
  width: 50px;
  height: 10px;
  margin: 0px;
  padding-top: 0px;
  margin-left:95px;
  transform: rotate(90deg);
}
.childconnector2 {
  display: inline-block;
  width: 45px;
  margin: 0px;
  padding-top: 0px;
  margin-left:185px;
  transform: rotate(90deg);
}
.horizontalconnector{
  display: inline-block;
  width: 100px;
  margin-left:107px;
  padding-top: 0px;
  margin-bottom:0px;
}
.horizontalconnector3{
  display: inline-block;
  width: 350px;
  margin-left:107px;
  padding-top: 0px;
  margin-bottom:0px;
}

.verticalconnector {
  display: inline-block;
  width: 45px;
  margin: 0px;
  padding-top: 0px;
  margin-left:80px;
  transform: rotate(90deg);
}
.verticalconnector2 {
  display: inline-block;
  width: 45px;
  margin: 0px;
  padding-top: 0px;
  margin-left:56px;
  transform: rotate(90deg);
}

.verticalconnector3 {
  display: inline-block;
  width: 45px;
  margin: 0px;
  padding-top: 0px;
  margin-left:325px;
  transform: rotate(90deg);
}

.children
 {  
  margin-left: 25px;
  margin-top:28px;
}
.children2
 {  
  margin-left: 25px;
  margin-top:28px;
}

.child
 {border: 1px solid blue;
  padding: 10px;
  margin:0px;
}
.childconnector3 {
  display: inline-block;
  width: 55px;
  margin: 0px;
  margin-left:170px;
  margin-bottom:0px;
  padding:0;
  transform: rotate(90deg);
}
.children3
 {  
  margin-left: 5px;
  margin-top:28px;
}



*/
/*
.spouseconnector {
  content: "";
  position: absolute;
  top: 13.8%;
  left: 36.5%;
  border-top: 1px solid blue;
  width: 28px;
  height: 20px;
}
.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid red;
}
